*{
    font-family: "Inter";
}

body{
    background-color: var(--main-background);
}

.contacts-section{
    margin-left: 300px;
    width: 300px;
}

.contact-header{
    display: flex;
    align-items: center;
    margin-top: 206px;
    margin-left: 743px;
    gap: 30px;
}

.contact-header>h1{
    width: 274px;
    height: 73px;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
}

.contact-header>p{
    height: 32px;
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: #2A3647;
}

.contact-header>hr{
    background-color: var(--main-lightblue);
    height: 59px;
    width: 3px;
    border-radius: 3px;
    border: none;
    margin: 0;
}

.chosen-contact{
    margin-left: 750px;
    position: absolute;
}

.contact-headline{
    display: flex;
    align-items: center;
}

.contact-icon{
    width: 120px;
    height: 120px;
    margin-right: 54px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px #0000001A;
    background-color: var(--contact-orange1);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-weight: 500;
}

.contact-name{
    font-size: 47px;
    font-weight: 500;
}

.contact-change{
    display: flex;
    align-items: center;
    width: 159px;
    height: 24px;
    gap: 8px;
    padding-top: 8px;
}

.contact-edit{
    display: flex;
    width: 62px;
    gap: 8px;
    cursor: pointer;
}

.contact-delete{
    display: flex;
    width: 81px;
    gap: 8px;
    cursor: pointer;
}

.image-edit{
    width: 18px;
}

.image-delete{
    width: 16px;
}

.contact-edit>p, .contact-delete>p{
    font-size: 16px;
    font-weight: 400px;
    color: var(--main-middleblue);
}

.contact-information{
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
}

.contact-email{
    font-weight: 700;
    font-size: 16px;
    font: bold;
    padding-bottom: 10px;
}

.email-address{
    font-size: 16px;
    padding-bottom: 20px;
    color: var(--contact-email-blue);
    cursor: pointer;
}

.contact-phone{
    font-weight: 700;
    font-size: 16px;
    font: bold;
    padding-bottom: 10px;
}

.phone-number{
    font-size: 16px;
    padding-bottom: 12px;
}

.contacts-section{
    cursor: pointer;
}